<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>Cancel startKit</title>
	<link rel="stylesheet" href="/stylesheets/app.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/app.css" rel="stylesheet">
	<script type="text/javascript">
		window.__initstates__ = <%- JSON.stringify(store) %>;
	</script>
</head>
<body>
	<app></app>
	<script type="text/javascript" src="/javascripts/commons.bundle.js"></script>
	<script type="text/javascript" src="/javascripts/app.bundle.js"></script>
</body>
</html>